:root{
    --headerColor:#000;
    --fontColor:#fff;

}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}
.header{
    width: 100%;
    height: 6rem;
    background-color: var(--headerColor);
    overflow: hidden;
    .navbar{
        width: 80%;
        height: 100%;
        margin-left: auto;
        display: flex;
        margin-right: auto;
        .toggle{
            display: none;
            justify-content: center;
            align-items: center;
            i{
                color: var(--fontColor);
            }
        }
        .logo{
            width: 150px;
            img{
                width: 100%;
            }
        }
        .list_group{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: row;
            flex-wrap: nowrap;
            list-style: none;
            .list_item{
                color: var(--fontColor);
                font-size: 20px;
                font-weight: 700;

            }
        }
    }
}

.section_1{
    width: 100%;
    margin-top: 20px;
    overflow: hidden;
    .container{
        width: 100%;
        height: 45rem;
        position: relative;
        .slider {
            background-color: #EEEEEE;
            position: relative;
            padding: 20px 13px;
            border: 1px solid #CCCCCC;
            border-radius: 15px;
            width: 70%;
            margin-left: auto;
            margin-right: auto;
            height: 100%;
            overflow-x:   hidden;
          ul {
            display: flex;
            width: 80%;
            transition: 1s;
              li {
                display: inline-block;
                padding: 10px 1rem;
                img {
                  width: 80rem;
                  height: 40.5rem;
                }
              }
            }
           
          }
          .arrow {
            position: absolute;
            top: 15px;
            height: 100%;
            width: 14%;
            margin-top: -15px;
            padding: 0;
            background: transparent;
            border-radius: 15px;
            border: none;
            outline: none;
            font-size: 70px;
            color: #444;
            &.right {
              right: 2px;
              transition: 1s;
              transform: translateX(100%);
            }
            &.left {
              left: 2px;
              transition: 1s;
              transform: translateX(-100%);
            }
            &:focus {
              outline: none;
            }
            &:hover {
              background: #ccc;
              cursor: pointer;
            }
          }
          &:hover{
            .right {
                right: 2px;
                transform: translateX(0%);
                transition: 1s;
              }
              .left {
                left: 2px;
                transition: 1s;
                transform: translateX(0%);
              }
          }
      
    }
    
}
@media (max-width:550px){
    .header{
        width: 100%;
        height: 6rem;
        background-color: var(--headerColor);
        overflow: hidden;
        .navbar{
            width: 80%;
            height: 100%;
            margin-left: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-right: auto;
            .toggle{
                display: flex;
                justify-content: center;
                align-items: center;
                #btn{
                    padding: 8px;
                    border: none;
                    outline: none;
                    background-color: transparent;
                
                i{
                    color: var(--fontColor);
                    font-size: 16px;
                }
            }
            }
            .logo{
                width: 150px;
                img{
                    width: 100%;
                }
            }
          
            .list_group{
                transition: .6s;
                margin-top: 6rem;
                background-color: rgba(0, 0, 0, 0.723);
                padding: 0rem 0px 0px 0rem;
                position: absolute;
                transform: translateX(-100%);
                width: 100%;
                right: 0;
                top: 0;
                height: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: column;
                flex-wrap: nowrap;
                list-style: none;
                z-index: 1;
                .list_item{
                    width: 100%;
                    color: var(--headerColor);
                    font-size: 20px;
                    font-weight: 700;
                    padding: 14px;
                    background-color: var(--fontColor);
                    transition: .3s;
                    &:hover{
                        color: #fff;
                        background-color: #000;
                        transition: .3s;
                    }
    
                }
            }
            .toggle_list{
                transform: translateX(0%);
            }
        }
    } 
    .section_1{
        width: 100%;
        margin-top: 20px;
        overflow: hidden;
        .container{
            width: 100%;
            height: 18rem;
            position: relative;
            .slider {
                background-color: #EEEEEE;
                position: relative;
                padding: 20px 13px;
                border: 1px solid #CCCCCC;
                border-radius: 15px;
                width: 70%;
                margin-left: auto;
                margin-right: auto;
                height: 100%;
                overflow-x:   hidden;
              ul {
                display: flex;
                width: 80%;
                transition: 1s;
                  li {
                    display: inline-block;
                    padding: 10px 1.2rem;
                    img {
                      width: 57vw;
                      height: 13.5rem;
                    }
                  }
                }
               
              }
              .arrow {
                position: absolute;
                top: 15px;
                height: 100%;
                width: 14%;
                margin-top: -15px;
                padding: 0;
                background: transparent;
                border-radius: 15px;
                border: none;
                outline: none;
                font-size: 70px;
                color: #444;
                &.right {
                  right: 2px;
                  transition: 1s;
                  transform: translateX(100%);
                }
                &.left {
                  left: 2px;
                  transition: 1s;
                  transform: translateX(-100%);
                }
                &:focus {
                  outline: none;
                }
                &:hover {
                  background: #ccc;
                  cursor: pointer;
                }
              }
              &:hover{
                .right {
                    right: 2px;
                    transform: translateX(0%);
                    transition: 1s;
                  }
                  .left {
                    left: 2px;
                    transition: 1s;
                    transform: translateX(0%);
                  }
              }
          
        }
        
    }
}