:root {
  --headerColor:#000;
  --fontColor:#fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.header {
  width: 100%;
  height: 6rem;
  background-color: var(--headerColor);
  overflow: hidden;
}
.header .navbar {
  width: 80%;
  height: 100%;
  margin-left: auto;
  display: flex;
  margin-right: auto;
}
.header .navbar .toggle {
  display: none;
  justify-content: center;
  align-items: center;
}
.header .navbar .toggle i {
  color: var(--fontColor);
}
.header .navbar .logo {
  width: 150px;
}
.header .navbar .logo img {
  width: 100%;
}
.header .navbar .list_group {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style: none;
}
.header .navbar .list_group .list_item {
  color: var(--fontColor);
  font-size: 20px;
  font-weight: 700;
}

.section_1 {
  width: 100%;
  margin-top: 20px;
  overflow: hidden;
}
.section_1 .container {
  width: 100%;
  height: 45rem;
  position: relative;
}
.section_1 .container .slider {
  background-color: #EEEEEE;
  position: relative;
  padding: 20px 13px;
  border: 1px solid #CCCCCC;
  border-radius: 15px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  overflow-x: hidden;
}
.section_1 .container .slider ul {
  display: flex;
  width: 80%;
  transition: 1s;
}
.section_1 .container .slider ul li {
  display: inline-block;
  padding: 10px 1rem;
}
.section_1 .container .slider ul li img {
  width: 80rem;
  height: 40.5rem;
}
.section_1 .container .arrow {
  position: absolute;
  top: 15px;
  height: 100%;
  width: 14%;
  margin-top: -15px;
  padding: 0;
  background: transparent;
  border-radius: 15px;
  border: none;
  outline: none;
  font-size: 70px;
  color: #444;
}
.section_1 .container .arrow.right {
  right: 2px;
  transition: 1s;
  transform: translateX(100%);
}
.section_1 .container .arrow.left {
  left: 2px;
  transition: 1s;
  transform: translateX(-100%);
}
.section_1 .container .arrow:focus {
  outline: none;
}
.section_1 .container .arrow:hover {
  background: #ccc;
  cursor: pointer;
}
.section_1 .container:hover .right {
  right: 2px;
  transform: translateX(0%);
  transition: 1s;
}
.section_1 .container:hover .left {
  left: 2px;
  transition: 1s;
  transform: translateX(0%);
}

@media (max-width: 550px) {
  .header {
    width: 100%;
    height: 6rem;
    background-color: var(--headerColor);
    overflow: hidden;
  }
  .header .navbar {
    width: 80%;
    height: 100%;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
  }
  .header .navbar .toggle {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header .navbar .toggle #btn {
    padding: 8px;
    border: none;
    outline: none;
    background-color: transparent;
  }
  .header .navbar .toggle #btn i {
    color: var(--fontColor);
    font-size: 16px;
  }
  .header .navbar .logo {
    width: 150px;
  }
  .header .navbar .logo img {
    width: 100%;
  }
  .header .navbar .list_group {
    transition: 0.6s;
    margin-top: 6rem;
    background-color: rgba(0, 0, 0, 0.723);
    padding: 0rem 0px 0px 0rem;
    position: absolute;
    transform: translateX(-100%);
    width: 100%;
    right: 0;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    list-style: none;
    z-index: 1;
  }
  .header .navbar .list_group .list_item {
    width: 100%;
    color: var(--headerColor);
    font-size: 20px;
    font-weight: 700;
    padding: 14px;
    background-color: var(--fontColor);
    transition: 0.3s;
  }
  .header .navbar .list_group .list_item:hover {
    color: #fff;
    background-color: #000;
    transition: 0.3s;
  }
  .header .navbar .toggle_list {
    transform: translateX(0%);
  }
  .section_1 {
    width: 100%;
    margin-top: 20px;
    overflow: hidden;
  }
  .section_1 .container {
    width: 100%;
    height: 18rem;
    position: relative;
  }
  .section_1 .container .slider {
    background-color: #EEEEEE;
    position: relative;
    padding: 20px 13px;
    border: 1px solid #CCCCCC;
    border-radius: 15px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    overflow-x: hidden;
  }
  .section_1 .container .slider ul {
    display: flex;
    width: 80%;
    transition: 1s;
  }
  .section_1 .container .slider ul li {
    display: inline-block;
    padding: 10px 1.2rem;
  }
  .section_1 .container .slider ul li img {
    width: 57vw;
    height: 13.5rem;
  }
  .section_1 .container .arrow {
    position: absolute;
    top: 15px;
    height: 100%;
    width: 14%;
    margin-top: -15px;
    padding: 0;
    background: transparent;
    border-radius: 15px;
    border: none;
    outline: none;
    font-size: 70px;
    color: #444;
  }
  .section_1 .container .arrow.right {
    right: 2px;
    transition: 1s;
    transform: translateX(100%);
  }
  .section_1 .container .arrow.left {
    left: 2px;
    transition: 1s;
    transform: translateX(-100%);
  }
  .section_1 .container .arrow:focus {
    outline: none;
  }
  .section_1 .container .arrow:hover {
    background: #ccc;
    cursor: pointer;
  }
  .section_1 .container:hover .right {
    right: 2px;
    transform: translateX(0%);
    transition: 1s;
  }
  .section_1 .container:hover .left {
    left: 2px;
    transition: 1s;
    transform: translateX(0%);
  }
}/*# sourceMappingURL=style.css.map */