:root{
    --headerColor:#000;
    --fontColor:#fff;

}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}
.header{
    width: 100%;
    height: 6rem;
    background-color: var(--headerColor);
    overflow: hidden;
    .navbar{
        width: 80%;
        height: 100%;
        margin-left: auto;
        display: flex;
        margin-right: auto;
        .toggle{
            display: flex;
            justify-content: center;
            align-items: center;
            i{
                color: var(--fontColor);
            }
        }
        .logo{
            width: 150px;
            img{
                width: 100%;
            }
        }
        .list_group{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: row;
            flex-wrap: nowrap;
            list-style: none;
            .list_item{
                color: var(--fontColor);
                font-size: 20px;
                font-weight: 700;

            }
        }
    }
}
@media (max-width:550px){
    .header{
        width: 100%;
        height: 6rem;
        background-color: var(--headerColor);
        overflow: hidden;
        .navbar{
            width: 80%;
            height: 100%;
            margin-left: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-right: auto;
            .toggle{
                display: flex;
                justify-content: center;
                align-items: center;
                i{
                    color: var(--fontColor);
                }
            }
            .logo{
                width: 150px;
                img{
                    width: 100%;
                }
            }
          
            .list_group{
                position: absolute;
                transform: translateX(100%);
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-direction: row;
                flex-wrap: nowrap;
                list-style: none;
                .list_item{
                    color: var(--fontColor);
                    font-size: 20px;
                    font-weight: 700;
    
                }
            }
            .toggle_list{
                transform: translateX(0%);
            }
        }
    } 
}